body {background-color:aqua}
h1 {color: aliceblue;}
img {border-style: groove;
border-width: 1cqmax;
border-color: black;}
a {color: aliceblue;}
#main-nav {
    background-color: rgb(0, 255, 221);
    text-align: center;
    padding: 1cm;
}
#main-nav a{
    font-size: 24px;
    color: rgb(9, 10, 10);
    margin:20px
}
#main-nav a:hover {
    text-decoration: underline;
    color: aliceblue;
}
img:hover {
    border-style: dashed;
    border-color: khaki;
}